.idea
.git

/backend/bin/
/backend/obj/
/backend/.idea/

/frontend/.gitignore
/frontend/.idea/
/frontend/.react-router/
/frontend/node_modules/
/frontend/build

# Docker
.env.local
.env.prod
*.env
docker/*/*.env

/screenShots

/db
